@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0 auto;
    max-width: 100%;
}

a:visited {
    color: white;    
}

.input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input .email-input {
    margin-bottom: 10px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.login-card {
    border-radius: 12px;
    width: 100%;
}

@media (min-width: 0px) and (max-width: 576px) { 
    .login-card {
        width: 100%;
    }
    .container {
        width: 80%;
    }
    
}
@media (min-width: 576px) and (max-width: 768px) { 
    .login-card {
        width: 100%;
    }
    .container {
        width: 80%;
    }
    
}
@media (min-width: 768px) and (max-width: 992px) { 
    .login-card {
        width: 80%;
    }
    .container {
        width: 80%;
    }
    
}
@media (min-width: 992px) and (max-width: 1200px) { 
    .login-card {
        width: 60%;
    }
    .container {
        width: 80%;
    }
    
}